definitions:
  myapp_pkg_health.ComponentHealth:
    properties:
      details:
        additionalProperties: true
        type: object
      status:
        $ref: '#/definitions/myapp_pkg_health.Status'
    type: object
  myapp_pkg_health.Response:
    properties:
      components:
        additionalProperties:
          $ref: '#/definitions/myapp_pkg_health.ComponentHealth'
        type: object
      status:
        $ref: '#/definitions/myapp_pkg_health.Status'
    type: object
  myapp_pkg_health.Status:
    enum:
    - UP
    - DOWN
    type: string
    x-enum-varnames:
    - StatusUp
    - StatusDown
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Production-ready Go microservice template with observability and best
    practices
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Microservice API
  version: "1.0"
paths:
  /health:
    get:
      description: Returns overall health status with all component checks
      produces:
      - application/json
      responses:
        "200":
          description: All components healthy
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
        "503":
          description: One or more components unhealthy
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
      summary: Health check endpoint
      tags:
      - health
  /health/liveness:
    get:
      description: Indicates if the application is running and should not be restarted
      produces:
      - application/json
      responses:
        "200":
          description: Application is alive
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
      summary: Kubernetes liveness probe
      tags:
      - health
  /health/readiness:
    get:
      description: Indicates if the application is ready to accept traffic
      produces:
      - application/json
      responses:
        "200":
          description: Application ready to accept traffic
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
        "503":
          description: Application not ready
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
      summary: Kubernetes readiness probe
      tags:
      - health
  /health/startup:
    get:
      description: Indicates if the application has started successfully
      produces:
      - application/json
      responses:
        "200":
          description: Application started
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
        "503":
          description: Application not started
          schema:
            $ref: '#/definitions/myapp_pkg_health.Response'
      summary: Kubernetes startup probe
      tags:
      - health
  /info:
    get:
      description: Get aggregated information from all registered info providers
      produces:
      - application/json
      responses:
        "200":
          description: Aggregated information
          schema:
            additionalProperties: true
            type: object
        "429":
          description: Rate limit exceeded
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get application information
      tags:
      - info
swagger: "2.0"
